:root {
  font-family: "Lexend Tera", sans-serif;
  color: brown;
  text-align: center;
}

body {
  background-color: cornflowerblue;
}

header img {
  /* escola */
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.entrada {
  padding: 0.4em 0.5em;
  text-align: center;
}

.entrada input {
  width: 200px;
}
